<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Edit Pain</h1>
        <form action="/trackers/<%=tracker.id%>?_method=PUT" method="POST">
    		<!--  NOTE: the form is pre-populated with values for the server-->
    		Name: <input type="text" name="name" value="<%=tracker.name%>"/><br/>
            Type: <input type="text" name="Type" value="<%=tracker.type%>"/><br/>
            Pain: <input type="number" name="Pain Score" value="<%=tracker.type%>"/><br/>
            <br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>
    </body>
</html>