<h1>Add a living thing for this planet:</h1>
<form action="/items" method="POST">
	<p>
	  <label for="name">Name:</label>
	  <input id="name" name="name" type="text">
	</p>
	<p>
	  <label for="description">Description:</label>
	  <input id="description" name="description" type="text">
	</p>
	<input type="submit" value="Create it!">
</form>