<h1>Add Pain</h1>
<form action="/trackers" method="POST">
	<p>
	  <label for="name">Name:</label>
	  <input id="name" name="name" type="text">
	</p>
	<p>
	  <label for="type">Type:</label>
	  <input id="type" name="type" type="text">
    </p>
    <p>
        <label for="type">Pain Score 1-10:</label>
        <input id="Pain Score 1 to 10" name="Pain Score 1 to 10" type="number">
      </p>
	<input type="submit" value="Add">
</form>