
<!DOCTYPE html>
<html>

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
  <h1>Pain Log</h1>
  <%=Log.type; %>  <%=Log.level; %>.
  <nav>
    <a href="/logs">Back to Index</a>
  </nav>
</body>
</html>