  
<!DOCTYPE html>
<html>

<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
  <h1>Edit Pain</h1>
  <form action="/logs" method="POST">
    Type: <input type="text" name="type" /><br />
    Level: <input type="text" name="level" /><br />
    <input type="submit" name="" value="Add" />
  </form>
</body>
</html>